<div class="js-row" [ngClass]="{'t_bg': showDetailsPan}">
  <div class="information-bar">
    <div class="title-group">
      <div class="obj-exp" (click)="objDetSxpanded=!objDetSxpanded">
        <div *ngIf="item.getChildren">
          <fa-icon class="t_color" *ngIf="objDetSxpanded" icon="chevron-down"></fa-icon>
          <fa-icon class="t_color" *ngIf="!objDetSxpanded" icon="chevron-right"></fa-icon>
        </div>
      </div>
      <input *ngIf="!item.isDefinition" class="model-title" type="text" [(ngModel)]="item.title" placeholder="<Title>" name="title"/>
      <input *ngIf="item.isDefinition" class="model-title" type="text" [(ngModel)]="item.definitionName" placeholder="<Definition Name>" name="definitionName"/>
    </div>
    <div class="model-icons">
      <div class="model-info">
        <div ngbDropdown *ngIf="!item.isRoot" class="d-inline-block">
          <button [ngClass]="item.type" class="badge badge-pill badge-primary" id="dropdownItemType" ngbDropdownToggle>
            {{item.type}}
            <span class="object-prop-count">
              <span *ngIf="item.properties">({{item.properties.length}})</span>
            </span>
          </button>
          <div ngbDropdownMenu class="type-selector" aria-labelledby="dropdownItemType">
            <button class="badge badge-pill badge-primary string" (click)="item.changeType('string')">STRING</button>
            <button class="badge badge-pill badge-primary number" (click)="item.changeType('number')">NUMBER</button>
            <button class="badge badge-pill badge-primary integer" (click)="item.changeType('integer')">INTEGER</button>
            <button class="badge badge-pill badge-primary object" (click)="item.changeType('object')">OBJECT</button>
            <button class="badge badge-pill badge-primary array" (click)="item.changeType('array')">ARRAY</button>
            <button class="badge badge-pill badge-primary boolean" (click)="item.changeType('boolean')">BOOLEAN</button>
            <button class="badge badge-pill badge-primary null" (click)="item.changeType('null')">NULL</button>
            <button class="badge badge-pill badge-primary $ref" (click)="item.changeType('$ref')">$ref</button>
          </div>
        </div>
        <span *ngIf="item.isRoot" [ngClass]="item.type" class="badge badge-pill badge-primary">{{item.type.toUpperCase()}}
          <span class="object-prop-count">
            <span *ngIf="item.properties">({{item.getChildren().length}})</span>
          </span>
        </span>
        <ng-template #tipContent>{{item.isRequired ? 'Required' : 'Not Required'}}</ng-template>
        <button class="wrapper-only" [disabled]="item.isRoot " (click)="item.isRequired=!item.isRequired"><fa-icon class="model-required" icon="asterisk" [ngClass]="{ 'disabled':item.isRoot, 'text-danger': item.isRequired}" [ngbTooltip]="tipContent"></fa-icon></button>
        <fa-icon icon="comment-alt" class="model-comment" [ngClass]="{'disabled':!item.description}" ngbTooltip="{{item.description}}"></fa-icon>
      </div>
      <div class="model-actions"> <!--keep on same line to remove whitespace -->
        <button class="wrapper-only" [disabled]="!item.getChildren" (click)="addNewProp(item)"><fa-icon icon="plus" class="obj-add"></fa-icon></button>
        <fa-icon icon="pencil-alt" class="model-detail" *ngIf="!showDetailsPan" (click)="showDetailsPan=true"></fa-icon>
        <fa-icon icon="check" class="model-done" *ngIf="showDetailsPan" (click)="showDetailsPan=false" class="text-success"></fa-icon>
        <button class="wrapper-only" [disabled]="item.isRoot" (click)="removeItem(item)"><fa-icon icon="times" class="model-remove" [ngClass]="{'disabled':item.isRoot}"></fa-icon></button>
      </div>
    </div>
  </div>
  <app-item-details class="item-details" [item]="item" *ngIf="showDetailsPan"></app-item-details>
</div>
<div class="indent" *ngIf="objDetSxpanded && item.getChildren">
  <div *ngFor="let item of item.getChildren()">
    <app-schema-row [item]="item"></app-schema-row>
  </div>
</div>
