<div class="container">
  <div class="row">
    <div class="col-lg-6"> <!-- Left Pane -->
      <h5> Schema </h5>
      <app-schema-row [item]="schemaReaderService.workingSchema"></app-schema-row>
      <h5> Definitions </h5>
      <div *ngFor="let definition of schemaReaderService.workingSchema.getDefinitions()">
        <app-schema-row [item]="definition"></app-schema-row>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary btn-sm" (click)="schemaReaderService.workingSchema.addDefinition()"><fa-icon icon="plus"></fa-icon> Add Definition</button>
      </div>
    </div>
    <div class="col-lg-6"> <!-- Right Pane -->
      <div class="card card-body bg-light">
        <div class="text-center">
          <button class="btn btn-secondary btn-sm" (click)="exportSchema()"><fa-icon></fa-icon> Export </button>
        </div>
        <pre *ngIf="schemaReaderService.workingSchema"> {{schemaReaderService.workingSchema.jsonSchemaString()}}</pre>
      </div>
    </div>
  </div>
</div>
